<h1>Eat-Da-Burger</h1>

<h2>Burgers you haven't eaten</h2>

<div>
  {{#each burger_data}}
			  	{{#unless this.devoured}}
				<div class="col-md-9 text-center">
					<pre>{{this.id}}. {{this.burger_name}}
					</pre>
				</div>
				<div class="col-md-3 text-center">
					<form class="devour-form button-size">
						<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
						<button type="submit" class="btn btn-default">Devour it!</button>
					</form>
				</div>
				{{/unless}}
			  {{/each}}
</div>

<h2>Burgers you have eaten</h2>

<div>
  {{#each burger_data}}
			  	{{#if this.devoured}}
			  		<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}" readonly>
				{{/if}}
			  {{/each}}
</div>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Type of Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  {{!-- <div class="form-group">
    <label for="sleep">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div> --}}

  <button type="submit">Add Burger!</button>
</form>
